{
  "extends": ["stylelint-config-standard",
							"stylelint-config-prettier",
							"stylelint-config-recommended"
	],
  "plugins": ["stylelint-order", "stylelint-config-rational-order/plugin"],
	"customSyntax": "@stylelint/postcss-css-in-js",
  "rules": {
		"function-name-case": null,
		"value-keyword-case": null,
		"no-empty-source": null,
		"function-no-unknown": null,
    "order/properties-order": [[], { "severity": "warning" }],
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": false,
        "empty-line-between-groups": false,
        "severity": "warning"
      }
    ]
  }
}
