:root {
	--p1: #2a85ff;
	--p2: #83bf6e;
	--p3: #ff6a55;
	--p4: #8e59ff;
	--s1: #ffbc99;
	--s2: #cabdff;
	--s3: #b1e5fc;
	--s4: #b5e4ca;
	--s5: #ffd88d;
	--n: #fff;
	--n1: #fcfcfc;
	--n2: #f4f4f4;
	--n3: #efefef;
	--n4: #6f767e;
	--n5: #33383f;
	--n6: #272b30;
	--n7: #1a1d1f;
	--n8: #111315;
	--shades1: #9a9fa5;
	--shades2: #6f767e;
	--shades3: rgba(#6f767e, 0.4);
	--shades4: rgba(#111315, 0.5);
	--button-bg-secondary: var(--n1);
	--button-color: var(--n7);
	--button-bg-primary: var(--p1);
	--button-border-shadow: 0 0 0 2px var(--n3) inset;
	--button-border-shadow-hover: 0 0 0 2px var(--n7) inset;
	--svg-fill: var(--n7);
}

body.dark{
	--button-color: var(--n1);
	--button-bg-secondary: var(--n7);
	--button-border-shadow: 0 0 0 2px var(--n6) inset;
	--button-border-shadow-hover: 0 0 0 2px var(--n3) inset;
	--svg-fill: var(--n1);


}
