.h1,
.h2,
.h3,
.h4 {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	color: var(--text-color);
}

.h1 {
	font-size: 64px;
	line-height: 1;
	letter-spacing: -0.03em;
}

.h2 {
	font-size: 48px;
	line-height: 1;
	letter-spacing: -0.03em;
}

.h3 {
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -0.02em;
	/* @include m; */
}

.h4 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.03em;
}

@media only screen and (max-width: '767px') {
	.h3 {
		font-size: 32px;
		line-height: 40px;
		letter-spacing: -0.03em;
	}
}
