.button {
	cursor: pointer;
	display: inline-grid;
	grid-template-columns: [startLine] auto [middleLine] auto [endLine];
	align-items: center;
	justify-content: center;
	border-radius: var(--button-radius);
	line-height: var(--lh-button);
	font-weight: var(--fw-boold);
	max-width: var(--button-max-width);
}
.button svg {
	grid-row: 1/2;
}
