@import '../../../styles/helpers.scss';

.button {
	display: grid;
	align-items: center;
	justify-content: center;

	border-radius: 12px;
	grid-template-columns: auto auto;
	grid-auto-flow: dense;
	@include button1;
}
